.animated {
  opacity: 0;
  transform: translateY(16px);
  transition: opacity 0.3s steps(3, end), transform 0.3s steps(3, end);
  will-change: opacity, transform;
}

.visible {
  opacity: 1;
  transform: translateY(0);
}
